# 编译输出
out/
dist/

# 依赖
node_modules/
webview/node_modules/

# 日志
*.log
npm-debug.log*

# 编辑器
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# 系统文件
.DS_Store
Thumbs.db

# 打包产物
*.vsix

# TypeScript
*.tsbuildinfo
